<div class="ms-5" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  <p class="h4 mt-5">Envoyer vos commentaires</p>
  <hr>
  <p>
    Contactez nous et nous vous répondrons aussi rapidement que possible.
  </p>
  <form>
    <div class="mt-5">
      <label class="form-label text-dark">Nom<span class="text-danger ms-1">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mt-3">
      <label class="form-label text-dark">E-mail<span class="text-danger ms-1">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mt-3">
      <label class="form-label text-dark">Téléphone<span class="text-danger ms-1">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mt-3">
      <label class="form-label text-dark">Description<span class="text-danger ms-1">*</span></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <button class="btn btn-outline-dark mt-3" style="margin-left:90%;">Envoyer</button>
  </form>
</div>
