<app-header></app-header>
<div class="container-fluid">
<div class="row">
  <div class="col-4 ms-5 mt-5" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <div>
    <p class="h2 text-dark">Contactez nous </p>
    <p >
      Vous souhaitez obtenir de l'aide ? Notre équipe est à votre disposition pour répondre à vos questions et demandes. Du service client aux experts de notre société , nos équipes sont en permanence à votre écoute.vous pouvez nous contacter par email ou par téléphone.
    </p>
    <hr>
    <i class="fas fa-map-marker-alt me-2"></i>Immeuble A16 premier étage Centre Urbain Nord، Tunis 1003<br>
    <i class="fas fa-phone-alt me-2"></i>55739106<br>
    <i class="fas fa-envelope me-2"></i>mssidaoui@gmail.com
   </div>
  </div>
  <div class="col-7">
    <app-contact-form></app-contact-form>
  </div>
</div>
</div>
