
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img class="" [src]="technology" width="50%" height="100%" style="position:fixed;margin-left:-0.95%;">
    </div>
<div class="col-6 bg-light" >
  <div class=" my-3 px-2 py-2">
    <p class="h1 text-dark" style="margin-left:20%;">Create an account</p>
    <div>
      <form style="color:gray;">
         <div class="form-group mb-3">
           <label class="form-label">First name</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="text" name="nom">
         </div>
         <div class="form-group mb-3">
          <label class="form-label">Last name</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="text" name="prenom">
         </div>
         <div class="form-group mb-3">
          <label class="form-label">Email adress</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="email" name="email">
         </div>
         <div class="form-group mb-3">
          <label class="form-label">First name</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="text" name="nom">
         </div>
         <div class="row">
           <div class="col-6">
            <div class="form-group mb-3">
              <label class="form-label">Adress</label><span class="text-danger ms-1">*</span>
              <input  class="form-control form-control-md" type="text" name="nom">
             </div>
           </div>
           <div class="col-6">
            <label class="form-label">Phone number</label><span class="text-danger ms-1">*</span>
            <input  class="form-control form-control-md" type="text" name="nom">
           </div>
         </div>
         <div class="form-group mb-3">
          <label class="form-label">Password</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="password" name="password">
         </div>
         <div class="form-group mb-3">
          <label class="form-label">Confirm password</label><span class="text-danger ms-1">*</span>
          <input  class="form-control form-control-md" type="password" name="password">
         </div>
         <div>
         <button class="btn btn-outline-primary rounded-pill w-100">Register</button>
         <p class="mt-2" style="color: grey;">You already have an account? Login <a class="text-decoration-none text-info" routerLink="/home">here.</a></p>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
</div>
