<footer>
  <div class="container-fluid bg-dark text-light pt-5 ps-5 mt-5" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="row">
      <div class="col-4">
        <p class="h3 fw-bold">A propos de nous</p>
        <p>
          Notre boutique  vous proposons un large choix de produits (tablettes, ordinateurs portables, ordinateur de bureau).
          Il est possible de concevoir des ordinateurs de bureau sur mesure, selon les besoins et le budget
        </p>
      </div>
      <div class="col-4">
       <div>
        <p class="h3 fw-bold">Contactez-nous</p>
        <p>
          <i class="fal fa-map-marker-alt me-2"></i>Immeuble A16 premier étage Centre Urbain Nord، Tunis 1003
        </p>
        <p>
          <i class="fal fa-envelope me-2"></i>mssidaoui@gmail.com
        </p>
        <p>
          <i class="far fa-phone-alt me-2"></i>55739106
        </p>
        </div>
      </div>
      <div class="col-4">
        <img class="ms-5"  [src]="logo" height="250" width="250" style="margin-top:-10%;">
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="margin-top: -3%;">
        <hr>
        <i class="far fa-copyright mb-2 me-1" style="margin-left:35%;"></i>{{date|date:'y'}}
        <span class="ms-2" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Developed by
           <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Sidaoui Mohamed Amine</span>
      </span>
      </div>
    </div>
  </div>
</footer>
